* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: auto;
  max-width: 1000px;
}
header {
  background-color: #5db7de;
  color: #f5e90b;
}
.logo {
  font-size: 4rem;
  font-family: 'Tangerine', cursive;
  padding: 0.3em 0;
  text-align: center;
}
nav {
  background-color: #dae0e23b;
  font-family: 'Ubuntu Mono', monospace;
}
nav ul {
  list-style-type: none;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  font-size: 1.125rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5em 1.5em;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 200ms ease-in;
  color: #fff;
}
nav ul li a:hover {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #5db7de;
  color: #5db7de;
  background-color: #fff;
}

.hero {
  width: 100%;
  height: 75vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 255, 255, 0.2)),
    url('./img/bg_img.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero a {
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  background-color: #5db7de;
  color: #fff;
  border: 1px solid #5db7de;
  padding: 0.25em 1em;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  cursor: pointer;
  transition: all 400ms ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero a:hover {
  background-color: #fff;
  color: #5db7de;
  border: 1px solid #5db7de;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.hero a i {
  font-size: 2rem;
}

.tour-plans-main {
  background-color: #48cae4;
  font-family: 'Ubuntu', sans-serif;
}
.tour-plans {
  padding: 3em 0;
  display: flex;
  justify-content: space-between;
}
.box {
  flex-basis: 30%;
  background-color: #fff;
  border-radius: 10px;
  padding: 2em 0 8em 0;
  position: relative;
}
.box h2 {
  color: #03045e;
  padding-bottom: 1em;
  text-align: center;
}
.box ul {
  list-style: none;
  padding-left: 1em;
  color: #333;
}
.box ul li {
  padding-bottom: 0.3em;
  text-transform: capitalize;
}
.box ul i {
  color: #03045e;
  padding-right: 1.3em;
}
.box a {
  text-decoration: none;
  display: inline-block;
  background-color: #5db7de;
  color: #fff;
  margin-bottom: 0.75em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5rem;
  padding: 0.5em 0.75em;
  border: 1px solid #5db7de;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 200ms ease-in-out;
}
.box a:hover {
  color: #5db7de;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.box .imp-btn {
  color: #fff;
  background-color: #03045e;
  border: 1px solid #03045e;
}
.box .imp-btn:hover {
  color: #03045e;
  background-color: #fff;
}
